body {
 margin: 0;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/* It's common practice to have a space between the selector and the left curly brace */
#myTopnav{
    /* Using float works, but I think it would be better to use flexbox in order to create the two column layout. */
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    text-decoration: none; 
}

hr{
    margin-left:  20px;
    border: .1px solid;
    background-color: black;
    /* Using percentages in this way can be tricky. I would add a right padding with a px value so it's consistent */
    width: 98%;
}

p{
    font-size: 15px;
    line-height: 15px;
    padding-left: 20px;
}

h1{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 12px;
}

a,a:visited, a:link, a:active{
    color:black;
    text-decoration:none;
}

.container{
    display: flex; 
    flex-flow: row wrap;
}

.items{
    flex-grow: 1;
    justify-content: center;
 
}

/* This is a great way to style your images! */
.items img{
    width: 100%;
}

/* Nice use of flexbox + media queries! */
@media screen and (min-width: 1000px) {
.container{
    display: flex;
    flex-direction: row;
}
.items{
    justify-content: center;
    width: 25%;
}
}


/* 
 These css properties can just be applied at the top, since they're applied anyway. 
 That way they will be overriden by the 1000px media query 
*/
@media screen and (max-width: 400px) {
.container{
    display: flex;
    flex-direction: row;
/* These right curly braces should be indented */
}
.items{
    justify-content: center;
    width: 100%;
}
}
